/* --------- CSS Variable -------------*/
:root {
  --color-primary: #8bff66;
}

.card {
  background: var(--color-primary);
}
.button {
  background: var(--color-primary);
}
.badge {
  background: var(--color-primary);
}

.paragraf-text {
  background-color: blueviolet;
}

h4 {
  color: coral;
}

/* Class Selector */
.description-box {
  background-color: chocolate;
  border: 2px solid black;
  font-size: 20px;
}

/* Id Selector */
#text-information {
  color: white;
  background-color: purple;
  border-radius: 20px;
  padding: 10px;
}

/* Multiple Selector */
h5,
h6 {
  text-align: center;
}

/* Semua elemen */
/* * {
    margin: 0;
    padding: 0;
  } */

/* Ruang dan Jarak */
.box-container {
  display: flex;
}

.box {
  background-color: blue;
  color: white;
  text-align: center;
  width: 150px;
  margin: 30px;
  padding: 20px;
}

/* --------- CSS Variable -------------*/
/* cara manual */
/* .card {
  background: #8bff66;
}
.button {
  background: #8bff66;
}
.badge {
  background: #8bff66;
} */
